    .tooltip-me, .tooltip-links a {
      position: relative;
      cursor: pointer !important;
    }
    .modal-back{
    	background-color: #f8f8f8;
    }
    .modalheader{
	    height: 30px;
	    background-color: #1796bf !important;
	    text-align: center;
	    color:white;
    }
    .modalfooter{
	    height: 20px;
	    background-color: #e2e2e2 !important;
	    text-align: center;
	    color:black;
    }
    .bold{
    font-weight:bold;
    }
    
    .modalcustomstyle{
        border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    top: 1px;
    position: relative;
    }
    
  /*.menuicon:hover{
    width: 70px;
    height: 70px;
    -webkit-transition: width .5s;
    -webkit-transition: height .1s;
  }*/
.changeUser{
	width:50px;
  background-color: #3CA2E1 !important;
  color: #fff !important;
}
#numberOfMetaDataInPackageXml{
	font-size: 33px;
    margin-left: 80px;
    margin-top: 12px;
    margin-bottom: 12px;
}
    .tooltip-me:hover:after, .tooltip-links a:after {
      border: 0px solid white;
      padding: 3px 6px;
      /*background: #fff8f8e0;*/
      background-color: #000;
      color: #fff;
      content: attr(data-title);
      font-size: 15px;
      position: absolute;
      left: 50px;
      text-align: left;
      margin-left: 50px
      top: 0px;
      z-index: 100000;
    }

    .tooltip-links a:after {
      content: attr(href);
      position: static;
      top: none;
      right: none;
      margin-left: 10px;
      padding: 2px;
      display: none;
    }

    .tooltip-links a:hover:after {
      display: inline-block;
    }

.ARITitleTable{
	width: 100%;
  box-shadow: 5px 5px 5px grey;
  margin-top: -35px;
}
.ARITitleTable td{
  white-space:nowrap;
}

.searchCodeFieldset{
    margin-top: 20px;
}
.searchCodeFieldset fieldset{
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-left: 0px;
    border-right: 0px;
}
.searchCodeFieldset legend{
    font-size: 15px !important;
    font-weight: normal !important;
}
.hrtitle{
  color: black;
  font-size: 12px;
}
.updateIframe{
    width: 95%;
    height: 1000px;
    border: 0px;
}
.imgSearch{
    margin-left: -42px !important;
    margin-bottom: -5px !important;
    cursor: pointer;
}

.imgSearchQuickSearch{
    margin-left: -32px !important;
    margin-bottom: -5px !important;
}
#recentItemOf{
    background-color: #13a21361;
    font-size: 15px  !important;
    color: #ffffff !important;
    width: 0px;
	  cursor:pointer;
}
.salesforcesimplifiedBranding{
  text-align: right;
}

#sfdcSimplifiedTitle{
    font-size: 16px  !important;
    margin-bottom: 36px !important;
    color: #000000 !important;
    margin-left: 2px !important;
    margin-top: -54px !important;
    display: block !important;
}

.ARITitleTitleWithoutCursor{
   font-size: 17px !important;
   font-weight: bold !important;
   width: 35% !important;
   font-family: Arial,Helvetica,sans-serif !important;
   color: #222 !important;
   margin-left: 5px;
   padding-top: 13px;
}    

.ARITitleTitle{
	font-size: 17px !important;
	font-weight: bold !important;
	width: 25% !important;
    font-family: Arial,Helvetica,sans-serif !important;
    color: #222 !important;
    margin-left: 5px;
    padding-top: 13px;
}
.ARITitleTitle p{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline-block;
}
.aboutARITable{
    width: 95%;
    margin-left: 10px;
    margin-right: 10px; 
    background-color: #f6f6f6;
}
.aboutARITable h3{
    font-size: 15px !important;
}
.searchCodeTable{
    width: 100%  !important;
}
.searchCodeTable select{
    width: 80% !important;
    height: 25px !important;
    font-size: 15px !important;
    margin: 20px !important;
}
.searchCodeTable input{
    width: 80% !important;
    height: 25px !important;
    font-size: 15px !important;
    margin: 20px !important;
}

.searchCodeTable td th{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.searchUserTable1{
    width: 100% !important;
}
#searchUserText{
    width: 200px;
    height: 25px;
    font-size: 15px;
    margin: 20px;
}
#searchUserBtn{
    width: 150px;
    height: 25px;
    font-size: 15px;
    margin: 20px;
}
.searchUserTable1 input{
    width: 50%;
    height: 25px;
    font-size: 15px;
    margin: 20px;
}
.searchUserTable1 td th{
    margin-left: 20px;
    margin-right: 20px;
}
.ARITitleData a{
	font-size: 12px !important;
	font-weight: bold;
	margin-bottom: -8px;
	width: 15%;
    color: black !important;
    margin-top: 15px;
}

#QuickFind{
	margin-left: 5px !important;
	border: 0px !important;
    font-weight: normal !important;
    font-size: 15px !important;
	border-bottom: 2px solid block !important;
	margin: 0px !important;
    width: 250px !important;
    height: 25px !important;
}

.menuTitle{
	font-size: 15px !important;
	border-bottom: 1px solid #e2e2e2;
	font-weight: bold;
}
.loadingARI{
	color:#000;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}
.loadingARILoading{
    font-size: 20px;
	color:#000;
    margin-left: 5px;
    margin-top:50px;
    margin-right: 0px;
}

.ErrorMessage{
	font-size: 15px;
	font-weight: normal;
	margin-left: 20px;
    margin-top: 100px;
	color:#000;
}
p.recorddescription{
	font-size: 11px;
    font-style: normal;
    font-weight: normal !important;
    color: #797474;
    margin-top: -20px;
    margin-left: 5px;
}
.ErrorMessage a{
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 100px;
}
.trim-info {
      max-width: 180px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
      text-align: left;
   }
   .trim-info-content{
      max-width: 300px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
      text-align: left;
   }
   .trim-info-type{
   	  max-width: 150px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
      text-align: left;
   }
   .trim-info1 {
      max-width: 150px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
      text-align: left;
   }
   .actiontrim{
    max-width: 20px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 20px;
      position: relative;
      text-align: left;
   }
/*
.ARISearch input:hover{
    background-color: #ffffff;
    color: #3CA2E1;
}
*/
.SearchData{
    width: 70%;
    padding: 12px 20px;
    margin: -7px 0;
    box-sizing: border-box;
    border: 0px;
    font-size: 14px;
    border-bottom: 2px solid rgb(60, 162, 225);
  }
  .SearchAll{
    height: 41px;
    color: white;
    margin-left: -1px;
    background: rgb(60, 162, 225);
    cursor: pointer;
  }
  .limit{
    background: rgb(60, 162, 225);
    width: 60px;
    height: 41px;
    border: 0px;
  }
  .sfdcSimplifiedUserTitle{
    text-align: left;
  }
  .viewasdifferentuser{
    color: rgb(60, 162, 225);
    cursor: pointer;
    height: 41px;
    color: white;
    margin-left: -1px;
    cursor: pointer;    
  }

.sfdcSimplifiedUserTitle span{
  font-weight: bold;
  cursor: pointer;
}
  .sfdcSimplifiedUserTitle button {
    height: 30px;
    color: white;
    background: rgb(60, 162, 225);
}
}

.ARISearch span{
    font-size: 18px !important;
    /*
    width: 100% !important;
    height: 50px !important;
    
    align-items: center;
    text-align: center;
    color: white;
    background-color: #3CA2E1;
        height: 55px !important;
    width: 110% !important;
    border: 0px !important;*/
}
.ARISearch input::placeholder{
  color: #d4dbdc;
}
.sshr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    margin-top: -11px !important;
}
.salesforcesimplifiedTitle{
    font-size: 18px;
    margin-right: 417px;
}

.ARISearch{
/*  text-align: center !important;
  margin-bottom: 5px !important;
  margin-top: -50px;
  border-bottom: 2px solid #3b9ed9;
  height: 40px;*/
  display: block;
  margin-top: -60px;
    height: 27px;
    background-color: rgb(59, 158, 217);
    text-align: center !important;
    margin-bottom: 5px !important;
}
.toptendevelopersDescription{
	margin-top: -3px;
    margin-left: 3px;
    font-size: 11px;
    font-style: normal;
    color: rgb(121, 116, 116);
    font-weight: normal !important;
}
.salesforcesimplifiedHeader{
  display: none;
  -webkit-box-sizing:unset !important;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 70%;
    padding: 10px 16px;
    background: #555;
    color: #f9f9f9;
    padding-top: 90px;
}

.Records tr{
    border-bottom: 1px solid #e9f7ff;
}
.Records a{
    cursor: pointer !important;
}
.Records{
	margin-left: 0px !important;
    width: 100% !important;
    margin-top: -17px !important;
    margin-bottom: 10px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: rgb(34, 34, 34) !important;
    border-collapse: collapse !important;
    border-spacing: 0px !important;
}
.sfdcSimplifiedContent{
  width: 100%;
  margin-top:-20px;
}
.sfdcSimplifiedContent td{
  vertical-align: text-top;
}
.sfdcSimplifiedContentData{
  width: 100%;
  margin-top:-20px;
}
td.td1{
  vertical-align: text-top;
  width:70%;
}
td.td2{
  vertical-align: text-top;
  width:30%;
}
.changeaction{
	width:100px;
}
.action{
width:20px;	
}
.Records td{
	text-align: left !important;
	font-size: 13px !important;
  padding-top: 5px;
}
.Records th{
	text-align: center; !important;
	font-weight: bold !important;
	font-size: 15px !important;
    margin-left: 5px !important;
    font-family: Arial,Helvetica,sans-serif !important;
    color: #222 !important;
}

.RecentTime td {
	border-left: 1px solid #3b9ed9;
}

.menuicon{
  width: 30px;
  height: 30px;
}
.innermenuicon img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.innermenuicon{
  align-content: center;
}

.detailsidenav {
  font-family: Arial,Helvetica,sans-serif !important;
    height: 90% !important;
    width: 0;
    margin-left: 100px;
    margin-bottom: 70px;
    position: fixed !important;
    top: 0 !important;
    text-align:left !important;
    left: 0 !important;
    background-color: #f1f1f1 !important;

    /*background-color: #fff8f8e0 !important;*/
    /*background-color: rgba(255, 248, 248, 0) !important; background-color:#fff8f8e0 !important; background-color: rgba(255, 248, 248, 0.61) !important;*/
    overflow-x: hidden !important;
    transition: 0.5s !important;
    padding-top: 60px !important;
    z-index:50000 !important;


}
.detailsidenav a {
    padding: 2px 2px 2px 15px !important;
    text-decoration: none !important;
    font-size: 12px;
    color: #000000 !important;
    display: block !important;
    transition: 0.3s !important;
    font-weight: normal !important;
}
.detailsidenav a:hover {
    color: #e2e2e2 !important;
}

.sidenav {
    font-family: Arial,Helvetica,sans-serif !important;
    height: 100% !important;
    width: 0;
    position: fixed !important;
    top: 0 !important;
    text-align:left !important;
    left: 0 !important;
    background-color: rgba(255, 248, 248, 0)  !important;
    /*background-color: rgba(255, 248, 248, 0) !important; background-color:#fff8f8e0 !important; background-color: rgba(255, 248, 248, 0.61) !important;*/
    overflow-x: hidden !important;
    transition: 0.5s !important;
    padding-top: 60px !important;
    z-index:50000 !important;    
}
.mainmenuTable{
  background-color: #ddd !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.mainmenuTable td {    
  /*padding: 2px 2px 2px 15px !important;*/
    text-decoration: none !important;
    font-size: 13px !important;
    color: #000000 !important;
    display: block !important;
    transition: 0.3s !important;
    font-weight: normal !important;
  font-family: Arial,Helvetica,sans-serif !important;
  cursor:pointer !important;
  
}

#fullDataSidenav{
	z-index:80000;
  margin-left: 45px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 54px;
    border-radius: 10px !important;
    height: 80% !important;
    margin-top: 24px;
}
/*a{	
	text-decoration: none !important;
  cursor: pointer;
}*/

.sidenav a {
    padding: 2px 2px 2px 15px !important;
    text-decoration: none !important;
    font-size: 12px;
    color: #000000 !important;
    display: block !important;
    transition: 0.3s !important;
    font-weight: normal !important;
}


.sidenav a:hover {
    color: #065b90 !important;
}

.sidenav .closebtn {
  /*  position: absolute !important;
    margin-right: -23px;
    margin-top: 9px;
    position: absolute !important;
    top: -6px !important;
    right: 21px !important;
    font-size: 40px !important;
    
    position: fixed !important;
    top: 24px !important;
    right: 408px !important;
*/
    
    position: absolute !important;
    top: 0px !important;
    right: 29px !important;
    
    color: white !important;
    margin-right: -22px;
    margin-top: 8px;
    font-size: 47px !important;
    padding: 35px 16px 10px !important;
    background: rgb(85, 85, 85);
    border-radius: 14px;
}

.BigImgSearch{
  position: absolute !important;
    top: 0 !important;
    right: 25px !important;
    font-size: 56px !important;
    margin-top: 9px;
    cursor: pointer;
    margin-right: 25px !important;
    margin-top: 2px !important;
    width: 30px;
    height: 30px;
    padding-top: 3px;
  }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px !important;}
  
}
.faqOfSalesforceSimplified{
	color: black;
}
#recentbutton {
    z-index:50000;
    position: fixed;
    top: 0px;
    left: -60px;
    padding: 10px 20px;
	  background: red;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 0;	
	  vertical-align: top;
    margin-top: 23px;
    height: 30px;
    width: 76px;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(90deg);
}
#ss_icon {
    z-index:50000;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 0;
    border-radius: 0; 
    vertical-align: top;
    margin-top: 23px;
    height: 40px;
    width: 40px;
}


#recentItems1 td {    
   border: 0px !important;
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.DataClass1{
  width: 30% !important;
  background-color: #F0F0F0;
}
.DataClass2{
  width: 30% !important;
  background-color: #F5F5F5;
}
.DataClass3{
  width: 40% !important; 
  background-color: #F0F0F0;
}
.DataClass4{
  width: 40% !important; 
  background-color: #F0F0F0;
}

.DetailSidebar{
  width: 100% !important;
  margin-top: 15px;
}
.DetailSidebar td{
  width: 50% !important;
  vertical-align: text-top;
}
.mainmenuSidebar{
	overflow-y: scroll;
  margin-bottom: 10px;
 box-shadow: 5px 5px 5px grey;
  width: 250px !important;
  background-color: #f6f6f6;
    position: fixed !important;
    height: 82% !important;
    display: none;
}
.mainmenuSidebar b{
  font-size: 15px;
}
.mainmenuSidebar tr{
list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.mainmenuSidebar td{
  display: block;
    color: #000;
    padding: 4px 16px;
    text-decoration: none;
}
.mainmenuSidebar td:hover {
    background-color: #555;
    color: white;
}

.aboutsfdcsimplified{
  margin-top: 10px;
  width: 95% !important;
  background-color: #f6f6f6;
}
.aboutsfdcsimplified:hover{
  margin-top: 10px;
  box-shadow: 5px 5px 5px grey;
  width: 95% !important;
  background-color: #f6f6f6;
}
.aboutsfdcsimplified b{
  font-size: 15px;
  text-align: center;
}
.sfdcsimplifiedsettings{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  width: 95% !important;
}
.sfdcsimplifiedsettings:hover{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 5px grey;
  width: 95% !important;
}
.sfdcsimplifiedsettings b{
  font-size: 15px;
}

.userlist{
  margin-top: 10px;
  background-color: #f6f6f6;
  width: 95% !important;
}
.userlist.td1{
	width:70%;
}
.userlist.td2{
	width:30%;
}
.userlist:hover{
  margin-top: 10px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 5px grey;
  width: 95% !important;
}
.userlist td{
  cursor: pointer;
}

.userlist b{
  font-size: 15px;
  text-align: center;
}
.packagexml_chk{
	margin-left:5px;
	width: 20px;
    height: 20px;
}
.userdetails{
  margin-top: 10px;
  width: 95% !important;
  background-color: #f6f6f6;
}
.userdetails:hover{
  box-shadow: 5px 5px 5px grey;
  width: 95% !important;
  background-color: #f6f6f6;
}

.userdetails td{
  font-weight: normal;
}

.userdetails b{
  font-size: 15px;
}


.userdetails button{
    width: 100%;
    height: 30px;
    color: white;
    background: #3CA2E1;
  }
.userdetailsError{
  background-color:#000000ba;
  color: white;
  border-left: 5px solid red;
}

/*.allmetadata, .allmetadatamodifiedbyyou{
  width: 100% !important;
  margin-top: 15px;
  background-color: #f6f6f6;
}

.allmetadata td, .allmetadatamodifiedbyyou td{
text-align: center;
}

.allmetadata .number, .allmetadatamodifiedbyyou .number{
  text-align: center;
  font-size: 45px;
}*/
.allmetadatamodifiedbyyou{
  width: 100% !important;
  margin-top: 15px;
  background-color: #3CA2E1;
  height: 40px;
  color: white !important;
  font-size: 40px;
}
.menusidebarText{
  cursor: pointer;
  color: black;
}
.allitems{
  width: 100%;
}
.allitems img{
  width: 60px;
  height: 60px;
}